:root {
    --principal: #246CC9;
    --letra-clara: #FFFFFF;
    --letra-oscura: #464646;
    --letra-semioscura: #707070;
    --fondo: #F5F5F5;
    --fondo-celeste: #EAF2FD;
    --alerta: rgb(185, 40, 40);
}