.productoDetalle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .productoDetalle {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {

}