.productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .productos {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 1440px) {
}