.form-campo {
    padding: 1rem 1rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: solid 1px var(--letra-semioscura);
    color: var(--letra-oscura);
    resize: none;
    font-family: 'Roboto';
}

.form-campo.requerido {
    border-bottom: solid 1px var(--alerta);
}

.form-campo:focus + .form-label,
.form-campo:not(:placeholder-shown) + .form-label {
    transform: translateY(-.8rem) scale(.7);
    width: 100%;
    background: var(--letra-clara);
    transform-origin: top left;
    color: var(--principal);
    -webkit-transform: translateY(-.8rem) scale(.7);
    -moz-transform: translateY(-.8rem) scale(.7);
    -ms-transform: translateY(-.8rem) scale(.7);
    -o-transform: translateY(-.8rem) scale(.7);
}

.form-campo:focus {
    border-bottom: solid 1px var(--principal);
}