.btn {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .5rem 2rem;
    background-color: var(--principal);
    text-decoration: none;
    color: var(--letra-clara);
    border: none;
    align-self: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.btn_regresar {
    background-color: var(--letra-semioscura);
    color: var(--letra-clara);
}