.buscadorMobil {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--letra-oscura);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.buscadorMobil.activado {
    transform: translateX(-100%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .buscadorMobil {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}