.icono {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.icono_buscar {
    background-image: url(./../../../imagenes/iconos/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
}

.icono_flecha {
    background-image: url(./../../../imagenes/iconos/flecha.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icono_editar {
    background-image: url(./../../../imagenes/iconos/editar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
}

.icono_eliminar {
    background-image: url(./../../../imagenes/iconos/trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
}